<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.showtime.serviceenergize.mapper.StEmpowermentAdminPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.showtime.serviceenergize.entity.StEmpowermentAdminPermission">
        <id column="id" property="id" />
        <result column="permission_id" property="permissionId" />
        <result column="permission_name" property="permissionName" />
        <result column="permission_code" property="permissionCode" />
        <result column="permission_statu" property="permissionStatu" />
        <result column="permission_parent_code" property="permissionParentCode" />
        <result column="create_time" property="createTime" />
        <result column="create_name" property="createName" />
        <result column="update_time" property="updateTime" />
        <result column="update_name" property="updateName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, permission_id, permission_name, permission_code, permission_statu, permission_parent_code, create_time, create_name, update_time, update_name
    </sql>

</mapper>
